* text=auto

/.editorconfig                export-ignore
/.gitattributes               export-ignore
/.github                      export-ignore
/.gitignore                   export-ignore
/.php-cs-fixer.php            export-ignore
/docs                         export-ignore
/build                        export-ignore
/test_files                   export-ignore
/CHANGELOG.md                 export-ignore
/config.subsplit-publish.json export-ignore
/Makefile                     export-ignore
/phpbench.json                export-ignore
/phpstan.neon                 export-ignore
/phpunit.xml                  export-ignore
/README.md                    export-ignore
/src/Doctrine                 export-ignore
/**/*Test.php                 export-ignore
/**/*TestCase.php             export-ignore
/**/*Bench.php                export-ignore
