includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - message: '#Parameter \#2 \$special_chars of class League\\Csv\\EscapeFormula constructor expects array<string>, array<int, stdClass> given.#'
          path: tests/EscapeFormulaTest.php
        - message: '#Parameter \#2 \$delimiters of function League\\Csv\\delimiter_detect expects array<string>, array<int, array\|string> given.#'
          path: tests/DetectDelimiterTest.php
        - message: '#Parameter \#1 \$document of static method League\\Csv\\Polyfill\\EmptyEscapeParser::parse\(\) expects League\\Csv\\Stream\|SplFileObject, stdClass given.#'
          path: tests/Polyfill/EmptyEscapeParserTest.php
        - message: '#Call to function iterator_to_array\(\) on a separate line has no effect.#'
          path: tests/ResultSetTest.php
        - message: '#Call to function iterator_to_array\(\) on a separate line has no effect.#'
          path: tests/ReaderTest.php
        - message: '#Call to function iterator_to_array\(\) on a separate line has no effect.#'
          path: tests/CsvTest.php
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
