includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#Variable method call on \$this\(League\\Csv\\XMLConverter\)#'
          path: src/XMLConverter.php
        - message: '#Variable method call on \$this\(League\\Csv\\Writer\)#'
          path: src/Writer.php
        - message: '#Variable method call on League\\Csv\\ResultSet#'
          path: src/Reader.php
        - message: '#Method League\\Csv\\Reader::__call\(\) has no return typehint specified.#'
          path: src/Reader.php
        - '#Access to an undefined property object::\$data.#'
        - '#Unreachable statement - code above always terminates.#'
        - message: '#Call to function is_resource\(\) with resource will always evaluate to true.#'
          path: src/Stream.php
        - message: '#Unsafe usage of new static\(\).#'
          path: src/AbstractCsv.php
        - message: '#Instanceof between League\\Csv\\ResultSet and League\\Csv\\ResultSet will always evaluate to true.#'
          path: src/Statement.php
        - message: '#Result of && is always false.#'
          path: src/Statement.php
        - message: '#Parameter \#3 \$consumed \(int\) of method League\\Csv\\CharsetConverter::filter\(\) should be contravariant with parameter \$consumed \(mixed\) of method php_user_filter::filter\(\)#'
          path: src/CharsetConverter.php
        - message: '#Parameter \#3 \$consumed \(int\) of method League\\Csv\\EncloseField::filter\(\) should be contravariant with parameter \$consumed \(mixed\) of method php_user_filter::filter\(\)#'
          path: src/EncloseField.php
        - message: '#Parameter \#3 \$consumed \(int\) of method League\\Csv\\RFC4180Field::filter\(\) should be contravariant with parameter \$consumed \(mixed\) of method php_user_filter::filter\(\)#'
          path: src/RFC4180Field.php
    reportUnmatchedIgnoredErrors: false
