includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Variable method call on \$this\(League\\Csv\\([a-zA-Z0-9]*)\).#'
        - '#Access to an undefined property object::\$data(len)?#'
        - '#Binary operation "\+" between array<int, string>\|false and array\(1 => false\) results in an error.#'
    reportUnmatchedIgnoredErrors: false