includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: max
    paths:
        - src
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#Access to an undefined property object::\$data.#'
          path: src/RFC4180Field.php
        - message: '#Access to an undefined property object::\$data.#'
          path: src/EncloseField.php
        - message: '#Access to an undefined property object::\$data.#'
          path: src/CharsetConverter.php
        - message: '#Call to function is_resource\(\) with resource will always evaluate to true.#'
          path: src/Stream.php
        - message: '#Parameter \#2 \$special_chars of class League\\Csv\\EscapeFormula constructor expects array<string>, array<int, stdClass> given.#'
          path: src/EscapeFormulaTest.php
        - message: '#Parameter \#2 \$delimiters of static method League\\Csv\\Info::getDelimiterStats\(\) expects array<string>, array<int, array\|string> given.#'
          path: src/InfoTest.php
        - message: '#Parameter \#1 \$header of method League\\Csv\\Reader::getRecords\(\) expects array<string>, array<int, int\|string> given.#'
          path: src/ReaderTest.php
        - message: '#Parameter \#2 \$header of method League\\Csv\\Statement::process\(\) expects array<string>, array<int, int\|string> given.#'
          path: src/ResultSetTest.php
    reportUnmatchedIgnoredErrors: true
