includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Access to an undefined property object::\$data.#'
        - message: '#Variable method call on \$this\(League\\Csv\\Writer\)#'
          path: src/Writer.php
        - message: '#Call to function is_resource\(\) with resource will always evaluate to true.#'
          path: src/Stream.php
        - message: '#Unsafe usage of new static\(\).#'
          path: src/AbstractCsv.php
        - message: '#Parameter \#3 \$consumed \(int\) of method League\\Csv\\CharsetConverter::filter\(\) should be contravariant with parameter \$consumed \(mixed\) of method php_user_filter::filter\(\)#'
          path: src/CharsetConverter.php
        - message: '#Parameter \#3 \$consumed \(int\) of method League\\Csv\\EncloseField::filter\(\) should be contravariant with parameter \$consumed \(mixed\) of method php_user_filter::filter\(\)#'
          path: src/EncloseField.php
        - message: '#Parameter \#3 \$consumed \(int\) of method League\\Csv\\RFC4180Field::filter\(\) should be contravariant with parameter \$consumed \(mixed\) of method php_user_filter::filter\(\)#'
          path: src/RFC4180Field.php
        - message: '#Parameter \#2 \$special_chars of class League\\Csv\\EscapeFormula constructor expects array<string>, array<int, stdClass> given.#'
          path: src/EscapeFormulaTest.php
        - message: '#Parameter \#2 \$delimiters of static method League\\Csv\\Info::getDelimiterStats\(\) expects array<string>, array<int, array\|string> given.#'
          path: src/InfoTest.php
        - message: '#Parameter \#1 \$document of static method League\\Csv\\Polyfill\\EmptyEscapeParser::parse\(\) expects League\\Csv\\Stream\|SplFileObject, stdClass given.#'
          path: src/Polyfill/EmptyEscapeParserTest.php
    reportUnmatchedIgnoredErrors: true
