includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - '#implements deprecated interface League\\Csv\\ByteSequence#'
        - '#Dom\\HTMLElement#'
        - '#Dom\\XMLDocument#'
        - '#Dom\\HTMLDocument#'
        - '#Dom\\Element#'
    level: max
    paths:
        - src
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    parallel:
        processTimeout: 300.0

