header {
    max-width: none;
    width: 100%;
}

@media screen and (min-width: 550px) {
    header {
        position:fixed;
        height:4.5em;
        background:#19242f;
        z-index:8;
    }
    main {
        background: #ffffff;
        padding-top:4.5em;
    }

    main menu h2 {
        color:#2b3d50;
        font-size:1em;
        font-weight: bold;
        text-transform: none;
        box-shadow: none;
    }

    main menu ul li a {
        border-radius:.1em;
        font-size:1em;
        margin:.2em;
        padding:.6em;
        color:#1672ce;
    }

    main menu ul li a:hover {
        color:#1672ce;
        padding:.6em;
        background:#e7e7e7;
    }

    main menu ul li.selected {
        background: none;
    }

    main menu ul li.selected a {
        color:#fff;
        background:#1672ce;
        padding:.6em;
    }
}

menu .documentation {
    margin: 15px 0 0 50px;
}

@media screen and (max-width: 549px) {
    header {
        padding: 20px 10px 25px 10px;
    }
    menu {
        text-align: center;
    }
    menu .documentation {
        margin: 15px 0 0 0;
        display: inline-block;
    }
}

@media screen and (min-width: 550px) and (max-width: 849px) {
    menu .documentation {
        margin: 15px 0 0 30px;
    }
}

blockquote {
    border-left: 4px solid #ccc;
    font-style:italic;
}

blockquote {
    box-sizing: border-box;
    padding:0 10px;
}

/** --------------- select menu --------- */

.tool {
    display:none;
    width:160px;
    margin:0;
    padding:0;
    position:absolute;
    top:1em;
    right:5px;
    z-index: 10;
}

.tool span {
    font-family: "Museo Sans 500";
    color: #69bbdc;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

@media screen and (min-width: 550px) {
    .tool {
        display:block;
    }

    .versions-small {
        display:none;
    }
}

@media screen and (min-width: 1200px) {
    .tool {
        left: 1000px;
    }
}

/* ---------- header automatic permalink -----------*/

.header-permalink {
    text-decoration: none;
    color:transparent;
    font-size:.8em;
    vertical-align: super;
}

.header-permalink:hover,
h1:hover .header-permalink,
h2:hover .header-permalink,
h3:hover .header-permalink,
h4:hover .header-permalink,
h5:hover .header-permalink {
    text-decoration: none;
    color:#777;
}

main article div>code {
    display: inline-block;
    padding: 3px 5px;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
    font-size: 17px;
    line-height: 100%;
    border-radius: 2px;
    background: #f5f6f7;
    border: solid #dcdddd 1px;
}