header {
    max-width: none;
    width: 100%;
    padding:0;
    margin:0;
}

@media screen and (min-width: 550px) {
    html {
        background:#f4f4f4;
    }

    footer {
        border-top:1px solid #c7c7c7;
        background:#fff;
        max-width: none;
        text-align:center;
        color:#a1a1a1;
    }

    footer span a {
        color:orange;
    }

    header {
        position:fixed;
        border-bottom:1px solid #c7c7c7;
        height:4.5em;
        background:#fff;
        z-index:1;
    }

    main {
        background: none;
        padding-top:4em;
    }

    main menu {
        border-right: 1px dashed #d7d7d7;
    }

    main menu .menu-section {
        border-bottom:1px dashed #d7d7d7;
        padding-bottom:1em;
    }

    main menu .menu-section:last-of-type {
        border-bottom:none;
    }

    main menu h2 {
        margin-top:1.5em;
        color:#2b3d50;
        font-size:1em;
        font-weight: bold;
        text-transform: none;
        box-shadow: none;
    }

    main menu ul li a {
        border-radius:.1em;
        font-size:1em;
        margin:.2em;
        padding:.6em;
        color:#1672ce;
    }

    main menu ul li a:hover {
        color:#1672ce;
        padding:.6em;
        background:#e7e7e7;
    }

    main menu ul li.selected {
        background: none;
    }

    main menu ul li.selected a {
        color:#fff;
        background:#1672ce;
        padding:.6em;
    }
}

menu .documentation {
    margin: 15px 0 0 50px;
}

@media screen and (max-width: 549px) {
    header {
        padding: 20px 10px 25px 10px;
    }
    menu {
        text-align: center;
    }
    menu .documentation {
        margin: 15px 0 0 0;
        display: inline-block;
    }
}

@media screen and (min-width: 550px) and (max-width: 849px) {
    menu .documentation {
        margin: 15px 0 0 30px;
    }
}

blockquote {
    border-left: 4px solid #ccc;
    font-style:italic;
}

blockquote {
    box-sizing: border-box;
    padding:0 10px;
}

header .tool {
    display:none;
}

/** --------------- select menu --------- */

@media screen and (min-width: 550px) {

    header .header-content {
        box-sizing: border-box;
        max-width:1192px;
        margin:0 auto;
        padding:1em;
    }

    header .header-content:after {
        content: "";
        display: table;
        clear: both;
    }

    header .logo {
        float:left;
        text-align:right;
    }

    header .tool {
        display:block;
        float:right;
        margin:0;
        padding:0;
    }

    header .tool span {
        font-family: "Museo Sans 500";
        color: #69bbdc;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
    }

    .versions-small {
        display:none;
    }
}

@media screen and (min-width: 1200px) {
    header .header-content {
        width:1192px;
    }
    main {
        margin-left:auto;
        margin-right:auto;
        width:1192px;
    }
}

/* ---------- header automatic permalink -----------*/

.header-permalink {
    text-decoration: none;
    color:transparent;
    font-size:.8em;
    vertical-align: super;
}

.header-permalink:hover,
h1:hover .header-permalink,
h2:hover .header-permalink,
h3:hover .header-permalink,
h4:hover .header-permalink,
h5:hover .header-permalink {
    text-decoration: none;
    color:#777;
}

main article div>code {
    display: inline-block;
    padding: 3px 5px;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
    font-size: 17px;
    line-height: 100%;
    border-radius: 2px;
    background: #f5f6f7;
    border: solid #dcdddd 1px;
}