menu .documentation {
    margin: 15px 0 0 50px;
}

@media screen and (max-width: 549px) {
    menu {
        text-align: center;
    }
    menu .documentation {
        margin: 15px 0 0 0;
        display: inline-block;
    }
}

@media screen and (min-width: 550px) and (max-width: 849px) {
    menu .documentation {
        margin: 15px 0 0 30px;
    }
}

blockquote {
    border-left: 4px solid #ccc;
    font-style:italic;
}

blockquote {
    box-sizing: border-box;
    padding:0 10px;
}

/** --------------- select menu --------- */

.tool {
    margin:15px 0 0 0;
    padding:0 45px;
}

/* ---------- header automatic permalink -----------*/

.header-permalink {
    text-decoration: none;
    color:transparent;
    font-size:.8em;
    vertical-align: super;
}

.header-permalink:hover,
h1:hover .header-permalink,
h2:hover .header-permalink,
h3:hover .header-permalink,
h4:hover .header-permalink,
h5:hover .header-permalink {
    text-decoration: none;
    color:#777;
}

main article div>code {
    display: inline-block;
    padding: 3px 5px;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
    font-size: 17px;
    line-height: 100%;
    border-radius: 2px;
    background: #f5f6f7;
    border: solid #dcdddd 1px;
}