blockquote {
  border-left: 4px solid #ccc;
  font-style:italic;
}

blockquote {
  box-sizing: border-box;
  padding:0 10px;
}

footer {
  text-align: center;
  color:#fff;
}

pre {
  border-width:0 0 0 4px;
  background: #fff;
}

main p code,
main li code,
main div > code {
  font-family: Consolas,Monaco,'Andale Mono',monospace;
  font-size: 17px;
  line-height: 100%;
  color:#1672ce;
  background: #fff;
  border:none;
}
/* -------- homepage css -----------------*/

.homepage header {
  margin:0 auto;
  padding:0 0 3em;
  box-sizing: border-box;
  background:#19242F url(//thephpleague.com/img/header_bg.png) no-repeat top center;
  background-size: cover;
  max-width: none;
  color:#fff;
  font-family: "Museo 300";
}

.homepage header h1 {
  margin:.3em auto;
  font-family: "Museo 300";
  font-size:72px;
  font-weight: normal;
}

.homepage header h2 {
  margin:0 auto;
  font-family: "Museo 300";
  color:#ff4043;
  font-size:36px;
  line-height:1.33;
  font-weight:normal;
}

.homepage .composer span {
  padding:.3em 1em;
  background-color:rgba(0, 0, 0, .3);
  color:#fff;
  font-size:.9rem;
  font-family: Consolas, Monaco ,'Andale Mono', monospace;
  line-height: 140%;
  text-align: left;
  white-space: pre;
  word-wrap: normal;
  word-spacing: normal;
  hyphens: none;
  display:inline-block;
  border-radius: .3em;
}

.homepage .hot-links {
  margin:0 auto;
  padding:0;
  list-style:none;
  width:300px;
  display:flex;
  align-content: top;
  align-items: center;
}

.homepage .hot-links li {
  padding:0;
  margin:0;
}

.homepage .hot-links a {
  display:block;
  margin:0;
  padding:1em;
  width:150px;
  border-radius:2px 0 0 2px;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  background:#fff;
  color:#ff4043;
}

.homepage .hot-links :last-child a {
  border-radius:0 2px 2px 0;
  background:#ff4043;
  color:#fff;
}

.homepage .hot-links:hover :last-child a {
  color:#ff4043;
}

.homepage .hot-links:hover a {
  background:#fff;
  color:#ff4043;
}

.homepage .hot-links:hover a:hover {
  background: #ff4043;
  color: #fff;
}

.homepage main {
  color: #2b3d50;
  font-family: "Museo 300";
  line-height: 160%;
  font-weight: normal;
  background:#19242f;
  width:auto;
  right:auto;
}

.homepage main > div {
  margin:0 auto;
  padding:3em 0;
  box-sizing: border-box;
}

.inner-content {
  margin:0 auto;
  padding:1em;
  box-sizing: border-box;
  text-align:center;
}

.inner-content h1 {
  color:#fff;
  font-size:50px;
  line-height:100%;
  font-weight:normal;
  font-family:"Museo Sans 300", sans-serif;
  text-transform:uppercase;
  margin:0;
}

.inner-content:after {
  content: '';
  display:table;
  clear:both;
}

.features {
  background: #F2F7FC;
  border-bottom:1px solid #CFE4F9;
  color:#666;
  font:normal 18px/1.5 "Museo 300";
}

.features h1 {
  color:#6abcdd;
}

.features h2 {
  color:#6abcdd;
  font-weight: normal;
}

.features p {
  text-align: left;
}

.features a {
  color:#6abcdd;
}

.highlights {
  background:#fff;
  border-bottom:1px solid #CFE4F9;
}

.highlights .description {
  color:#666;
  font:normal 18px/1.5 "Museo 300";
  text-align: left;
}

.highlights h1 {
  color:#ff4043;
  font-size: 36px;
  line-height:115%;
}

.highlights ol {
  margin:0;
  text-align:left;
}

.highlights li {
  margin:0 0 15px 0;
  color:#666;
  font-size:16px;
  font-weight:bold;
}

.highlights li p {
  margin:0;
  font:normal 18px/1.4 "Museo 300";
  color:#ff4043;
}

.highlights a {
  color:#ff4043;
}

.questions {
  padding:0;
  background:#fff;
  color:#666;
  border-bottom:1px solid #CFE4F9;
}

.questions h1 {
  font-size:36px;
  color:#ff4043;
}

.questions a {
  color:#6abcdd;
}

.questions a:hover {
  text-decoration: none;
}

@media screen and (min-width: 404px) {
  .homepage header {
    padding:3em 0;
  }

  .homepage header h1 {
    font-size:96px;
  }

  .homepage .composer span {
    font-size:1rem;
  }
}

@media screen and (min-width: 549px) {
  .homepage header h1 {
    margin:0 auto;
  }

  .inner-content {
    max-width:1000px;
  }

  .homepage main {
    width:initial;
    right:initial;
  }

  .highlights h1 {
    font-size: 50px;
  }

  .highlights li {
    font-size:24px;
  }

  .highlights li p {
    font-size:20px;
  }

  .highlights .column {
    float:left;
    width:45%;
  }

  .highlights .one {
    margin:0 10% 0 0;
  }

  .documentation h1 {
    font-size:50px;
  }
}

@media screen and (min-width:700px) {
  .documentation .version {
    float:left;
    width:42%;
    margin:2%;
    max-width:289px;
  }
}

@media screen and (min-width: 910px) {
  .documentation .version {
    float:left;
    width:30%;
    margin:1%;
  }
}

.sponsors {
  background: #f68fc8;
  border-bottom:none;
  color: #ffffff;
  font:normal 1em/1.5 "Museo 300";
  text-align:center;
  margin:0 auto;
  padding:0;
}

.sponsors p {
  margin:0 auto;
  padding:.5em .3em;
}

.sponsors a {
  display:inline-block;
  background: #ea0a86;
  color: #fff;
  border-radius: .3em;
  text-decoration: none;
  padding:.4em;
}

.sponsors a.close {
  color:#ea0a86;
  background: transparent;
  font-weight: bold;
  font-size:1.2em;
  cursor: pointer;
}

.hide {
  display:none;
}
