blockquote {
    border-left: 4px solid #ccc;
    font-style:italic;
}

blockquote {
    box-sizing: border-box;
    padding:0 10px;
}

/* -------- homepage css -----------------*/

.homepage header {
    margin:0 auto;
    padding:3em 0;
    box-sizing: border-box;
    background:#19242F url(//thephpleague.com/img/header_bg.png) no-repeat top center;
    background-size: cover;
    max-width: none;
}

.homepage header h1 {
    margin:.3em auto;
    font-family: "Museo 300";
    font-size:96px;
    font-weight: normal;
}

.homepage header h2 {
    margin:0 auto;
    font-family: "Museo 300";
    color:#ff4043;
    font-size:36px;
    line-height:1.33;
    font-weight:normal;
}

.homepage .composer span {
    padding:.3em 1em;
    background-color:rgba(0, 0, 0, .3);
    color:#fff;
    font-family: Consolas, Monaco ,'Andale Mono', monospace;
    line-height: 140%;
    text-align: left;
    white-space: pre;
    word-wrap: normal;
    word-spacing: normal;
    hyphens: none;
    display:inline-block;
    border-radius: .3em;
}

.homepage main {
    color: #2b3d50;
    font-family: "Museo 300";
    line-height: 160%;
    font-weight: normal;
    background:#19242f;
    width:auto;
    right:auto;
}

.homepage main > div {
    margin:0 auto;
    padding:3em 0;
    box-sizing: border-box;
}

.inner-content {
    margin:0 auto;
    padding:1em;
    box-sizing: border-box;
    text-align:center;
}

.inner-content h1 {
    color:#fff;
    font-size:50px;
    line-height:100%;
    font-weight:normal;
    font-family:"Museo Sans 300", sans-serif;
    text-transform:uppercase;
    margin:0;
}

.inner-content:after {
    content: '';
    display:table;
    clear:both;
}

.features {
    background:#fff;
    color:#666;
    font:normal 18px/1.5 "Museo 300";
}

.features h1 {
    color:#ffb554;
}

.features h2 {
    color:#ffb554;
    font-weight: normal;
}

.features p {
    text-align: left;
}

.features a {
    color:#6abcdd;
}

.highlights {
    background:#eff0f1;
}

.highlights .description {
    color:#666;
    font:normal 18px/1.5 "Museo 300";
    text-align: left;
}

.highlights h1 {
    color:#ff4043;
    font-size: 36px;
    line-height:115%;
}

.highlights ol {
    margin:0;
    text-align:left;
}

.highlights li {
    margin:0 0 15px 0;
    color:#666;
    font-size:16px;
    font-weight:bold;
}

.highlights li p {
    margin:0;
    font:normal 18px/1.4 "Museo 300";
    color:#ff4043;
}

.documentation {
    background: #6abcdd;
}

.documentation h1 {
    margin-bottom:.5em;
    font-size:36px;
}

.documentation .footnote {
    clear:both;
}

.documentation .version {
    margin:.3em auto;
    padding:0;
    border:1px solid #0491a0;
    max-width:289px;
}

.documentation .version h2 {
    margin:0;
    padding:.3em;
    text-transform: uppercase;
    font-size:18px;
    color:#fff;
    background:#0491a0;
}

.documentation .version ul {
    list-style: none;
    text-align: left;
}

.documentation .version a {
    display: inline-block;
    padding: 13px 15px;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff5759;
    border-radius: 4px;
    box-shadow: 3px 3px 0 #d42f30;
}

.documentation .version a:hover {
    background: #e75557;
}

.documentation .version .content {
    padding:1em 0;
    background: #fff;
}

.documentation .next {
    border-color:#0491a0;
}

.documentation .next h2 {
    background:#0491a0;
}

.documentation .next a {
    background: #0491a0;
    border-radius: 4px;
    box-shadow: 3px 3px 0 #03565e;
}

.documentation .next a:hover {
    background: #0a7c87;
}

.documentation .current {
    border-color:#2db56a;
}

.documentation .current h2 {
    background:#2db56a;
}

.documentation .current a {
    background: #2db56a;
    border-radius: 4px;
    box-shadow: 3px 3px 0 #1a7742;
}

.documentation .current a:hover {
    background: #259b58;
}

.documentation .previous {
    border-color:#ff8300;
}

.documentation .previous h2 {
    background:#ff8300;
}

.documentation .previous a {
    background: #ff8300;
    border-radius: 4px;
    box-shadow: 3px 3px 0 #a85401;
}

.documentation .previous a:hover {
    background: #e56b00;
}

.documentation .legacy {
    border-color:#e74c3c;
}

.documentation .legacy h2 {
    background:#e74c3c;
}

.documentation .legacy a {
    background: #e74c3c;
    border-radius: 4px;
    box-shadow: 3px 3px 0 #a3342a;
}

.documentation .legacy a:hover {
    background: #c94034;
}

.questions {
    padding:0;
    background:#283b4f;
    color:#fff;
}

.questions h1 {
    font-size:36px;
    color:#6abcdd;
}

.questions a {
    color:#6abcdd;
}

.questions a:hover {
    text-decoration: none;
}

@media screen and (min-width: 549px) {
    .homepage header h1 {
        margin:0 auto;
    }

    .inner-content {
        max-width:1000px;
    }

    .homepage main {
        width:initial;
        right:initial;
    }

    .highlights h1 {
        font-size: 50px;
    }

    .highlights li {
        font-size:24px;
    }

    .highlights li p {
        font-size:20px;
    }

    .highlights .column {
        float:left;
        width:45%;
    }

    .highlights .one {
        margin:0 10% 0 0;
    }

    .documentation h1 {
        font-size:50px;
    }
}

@media screen and (min-width:700px) {
    .documentation .version {
        float:left;
        width:42%;
        margin:2%;
        max-width:289px;
    }
}

@media screen and (min-width: 910px) {

    .documentation .version {
        float:left;
        width:30%;
        margin:1%;
    }
}